<!DOCTYPE html>
<html>
<head>
  <title>Payable Processing Failed</title>
</head>
<body>
  <p>Dear Team,</p>
  <p>The following payable failed to process:</p>
  <pre>{{payable}}</pre>
  <p>Please investigate the issue.</p>
  <p>Regards,</p>
  <p>Your Service</p>
</body>
</html>
