.container {
    padding: 20px;
    background-color: orange;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .title {
    font-size: 30px;
    margin-bottom: 20px;
  }
  
  .input {
    height: 40px;
    width: 100%;
    background-color: white;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 20px;
  }
  
  .buttonContainer {
    background-color: white;
    padding: 15px;
    cursor: pointer;
  }
  
  .buttonText {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
  }
  