<div class="payable-container">
  <h2>Recebível</h2>
  <form [formGroup]="payable" class="payable-form">
    <mat-form-field floatLabel="always">
      <mat-label>Montante</mat-label>
      <input formControlName="value" matInput type="number" class="payable-right-align" placeholder="0" required>
      <span matTextSuffix>R$&nbsp;</span>
      <mat-error *ngIf="payable.get('value')?.hasError('required')">
        This field is required
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Data de Emissão</mat-label>
      <input matInput formControlName="emissionDate" [matDatepicker]="datepicker" required>
      <mat-error *ngIf="payable.get('emissionDate')?.hasError('required')">
        This field is required
      </mat-error>
      <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
      <mat-datepicker #datepicker>
        <mat-datepicker-actions>
          <button mat-button matDatepickerCancel>Cancel</button>
          <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
        </mat-datepicker-actions>
      </mat-datepicker>
    </mat-form-field>

    <mat-form-field *ngIf="(assignors$ | async) as assignors">
      <mat-label>Cedente</mat-label>
      <mat-select formControlName="assignorId" required>
        <mat-error *ngIf="payable.get('assignorId')?.hasError('required')">
          This field is required
        </mat-error>
        <mat-option *ngFor="let assignor of assignors" [value]="assignor.id">{{assignor.name}}</mat-option>
      </mat-select>

    </mat-form-field>
    <button class="create-button" mat-raised-button color="primary" (click)="createPayable()"
      [disabled]="!payable.valid">Salvar</button>
  </form>
</div>