@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  color: #333;
  background: #FAFAFA;
  font-family: Nunito Sans, sans-serif;
  padding-bottom: 100px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-thumb {
  background-color: #0a36b0;
  border-radius: 4px;
}

*::-webkit-scrollbar-track {
  background-color: #E5E7EB;
}