<div class="payable-details-page-container">
    <div *ngIf="payable$ | async as payable" class="payable-details">
        <app-card-payable-details [payable]="payable"></app-card-payable-details>

        <div class="payable-details-actions">
            <button mat-button color="primary" (click)="toggleAssignorDetails()">
                Exibir detalhes
            </button>
            
        </div>
        <div *ngIf="showAssignorDetails" class="assignor-details">
            <mat-divider style="margin-bottom: 2em;"/>
            <app-card-assignor-details [assignorDetails]="assignorDetails$ | async"></app-card-assignor-details>
        </div>
    </div>
</div>