input:-webkit-autofill {
  outline: 2px solid rgba(24, 24, 27, 0.2);

  -webkit-text-fill-color: black !important;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
}