.card-payable-details {
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 2px;
    padding: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
  }

  .card-header-image {
    background-image: url('https://github.com/bankme-tech/aprove-me/blob/main/assets/logo-bankme.png?raw=true');
    background-size: calc(95% - 10px);
    background-repeat: no-repeat;
    background-position: center; 
  }
  
  .payable-property {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
  }
  
  .payable-label {
    font-weight: bold;
    color: #333;
    margin-right: 2em;
  }
  
  .payable-value {
    color: #555;
  }