.payable-properties {
    display: flex;
    justify-content: space-evenly;
    height: 2em;
    align-items: center;

}

.payable-properties mat-divider {
    align-self: stretch;

}

.actions-container {
    padding-right: 8px;
    display: flex;
    align-items: flex-end;

}