:root {
    --purple: rgb(238, 130, 238);
    --dark-purple: rgb(212, 99, 212);
    --light-purple: rgb(245, 166, 245);
    --gray: rgb(71, 71, 71);
    --bg-color: rgb(41, 41, 41);
    --text-color: rgb(255, 255, 255);
    --btn-text-color: rgb(255, 255, 255);
    --status-1: rgb(128, 128, 128);
    --status-2: rgb(197, 136, 197);
    --status-3: rgb(238, 130, 238);
    --status-4: rgb(200, 76, 200);
    --status-5: rgb(162, 22, 162);
    --light-gray: rgb(223, 223, 223);
    --medium-gray: rgb(197, 197, 197);
    --border-radius: 1rem;
    --border-size: 3px;
    --border-radius-int: calc(var(--border-radius) - var(--border-size));
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    color: var(--text-color);
    font-family: 'Arial Narrow Bold', sans-serif;
}

body {
    background-color: var(--bg-color);
    height: 100vh;
    display: flex;
    margin: 25px;
}

main form {
    display: flex;
    flex-direction: column;
}