:root {

  /* *** Globais *** */

  --error-color: #ff4c4c;
  --success-color: #28A745;
  --logout-color: #fa2c2c;
  --hover-logout-color: #f00;
  --font-color: #ccc;
  --link-color: #646cff;
  --link-hover-color: #535bf2;
  --input-color: #444;
  --input-outline-color: #646cff;
  --p-color: #656565;
  --border-color: #b3b6f3;
  
  
  
  /* *** Variaveis CSS para login *** */
  
  --bg-body-color: #222;
  --bg-form-color: #dadada;
  --text-form-color: #444;
  --h1-color: #aaa;
  --p-color-login: #656565;

  

  
  /* *** Variaveis CSS para footer da pagina de login *** */
  
  --bg-footer-color: #c0c0c0;





  /* *** Variaveis CSS para página de registro *** */

  --bg-main-register-color: #292929;
  --bg-button-register-color: #646cff;
 
  
  /* *** Variaveis CSS para registro de recebiveis *** */

  --bg-form-receivables-color: #595959;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  color: var(--font-color)
}

a {
  font-weight: 500;
  color: var(--link-color);
  text-decoration: inherit;
}
a:hover {
  color: var(--link-hover-color);
}

body {
  background-color: var(--bg-body-color);
}

h1 {
  font-size: 2em;
  line-height: 1.1;
}

p {
  color: var(--p-color);
}
