:root {
   /* *** Variaveis para login *** */

  --bg-body-color: #222;
  --bg-form-color: #dadada;
  --font-color: #ccc;
  --link-color: #646cff;
  --link-hover-color: #535bf2;
  --text-form-color: #444;
  --p-color: #676767;
  --h1-color: #aaa;
  --input-outline-color: #646cff;
  --error-color: #ff0000;

  /* *** Variaveis para footer *** */
  --bg-footer-color: #c0c0c0;
  
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  color: var(--font-color)
}

a {
  font-weight: 500;
  color: var(--link-color);
  text-decoration: inherit;
}
a:hover {
  color: var(--link-hover-color);
}

body {
  background-color: var(--bg-body-color);
}

h1 {
  font-size: 3em;
  line-height: 1.1;
}
