<div class="login-card">
    <h2>Login</h2>
    <form >
        <mat-form-field appearance="outline">
            <mat-label>login</mat-label>
            <input matInput required>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Entre com seu password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" required>
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit" (click)=login()>Entre</button>
    </form>
</div>
