<form class="container" [formGroup]="payableForm" (ngSubmit)="onSubmit()">
  <h1 class="title">Edit payable</h1>

  <div class="input-wrapper">
    <label for="value">Value</label>
    <input
      class="input"
      id="value"
      type="tel"
      currencyMask
      formControlName="value"
      [ngClass]="{ error: value?.invalid && value?.touched }"
      [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', align: 'left' }"
    />

    <div
      class="error-message"
      *ngIf="value?.invalid && (value?.dirty || value?.touched)"
    >
      <span *ngIf="value?.errors?.['required']">Value is required.</span>
      <span *ngIf="value?.errors?.['min']"
        >Value must be a positive value.</span
      >
    </div>
  </div>

  <div class="input-wrapper">
    <label for="email">Assignor email</label>
    <input
      class="input"
      id="email"
      type="email"
      formControlName="assignorEmail"
      [ngClass]="{ error: assignorEmail?.invalid && assignorEmail?.touched }"
    />

    <div
      class="error-message"
      *ngIf="value?.invalid && (value?.dirty || value?.touched)"
    >
      <span *ngIf="value?.errors?.['required']">Value is required.</span>
      <span *ngIf="value?.errors?.['min']"
        >Value must be a positive value.</span
      >
    </div>
  </div>

  <div class="input-wrapper">
    <label for="name">Assignor name</label>
    <input
      class="input"
      id="name"
      type="text"
      formControlName="assignorName"
      [ngClass]="{ error: assignorName?.invalid && assignorName?.touched }"
    />

    <div
      class="error-message"
      *ngIf="assignorName?.invalid && assignorName?.touched"
    >
      <span *ngIf="assignorName?.errors?.['required']"
        >Assignor name is required.</span
      >
    </div>
  </div>

  <div class="input-wrapper">
    <label for="emissionDate">Emission Date</label>
    <input
      class="input"
      id="emissionDate"
      type="date"
      formControlName="emissionDate"
      [ngClass]="{ error: emissionDate?.invalid && emissionDate?.touched }"
    />
    <div
      class="error-message"
      *ngIf="emissionDate?.invalid && emissionDate?.touched"
    >
      <span *ngIf="emissionDate?.errors?.['required']"
        >Emission Date is required.</span
      >
      <span *ngIf="emissionDate?.errors?.['min']"
        >Emission Date must be a valid date.</span
      >
    </div>
  </div>

  <div class="button-wrapper">
    <button class="button" type="button" (click)="onCancel()">Cancel</button>
    <button class="button" type="submit" [disabled]="payableForm.invalid">
      Submit
    </button>
  </div>
</form>
