.container {
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: start;
  width: 100%;
}

.link {
  padding: 1rem;
  display: flex;
  justify-content: center;
  border-radius: 20px;
  margin: 20px;
  width: 22rem;
  background-color: blueviolet;
  color: white;
  transition: 0.5s all ease;
}

.link:hover {
  transform: scale(1.05);
  transition: 0.5s all ease;
}
