{
  "$schema": "https://json.schemastore.org/swcrc",
  "sourceMaps": true,
  "minify": false,
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "decorators": true,
      "dynamicImport": true
    },
    "baseUrl": "./"
  }
}
